#test-app {
    display: flex;
}

#test-list {
    display: flex;
}

#test-item {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test-item h3 {
    margin: 10px;
}

#test-modal {
    width: 100px;
    height: 100%;
    background-color: lightpink;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#test-modal .sugar-level {
    display: flex;
    flex-direction: column;
}

#test-modal .toppings {
    display: flex;
    flex-direction: column;
}

#test-modal .amount-wrapper {
    display: flex;
    background-color: white;
}

#test-modal .amount-wrapper button {
    width: 100%;
}

#test-cart {
    width: 200px;
    height: 800px;
    background-color: lightgray;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

#test-cart .top-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#test-cart .cart-box{
    display: flex;
    justify-content: space-between;
}

.cart-amount {
    color: black;
    padding: 2px 12px;
}