#nav {
    position: fixed;
    z-index: 1;
}

#nav .navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 0 0 2px gray;
    left: 0;
    right: 0;
    background-color: white;
}

#nav .drink-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#nav img {
    max-width: 40px;
    margin: 0 10px;
}

#nav .drink-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    color: gray;
    transition: 300ms;
}

#nav .drink-link:hover {
    transform: scale(1.075);
    transition: 300ms;
}

#nav .drink-link:active {
    transform: scale(.9);
    transform: 50ms;
}


