#nav {
  margin: 4px 0 0 0;
}

#nav .navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}

#nav .drink-links {
  display: flex;
  align-items: center;
}

#nav img {
  max-width: 40px;
  width: 100%;
  margin: 0 10px;
}

#nav .drink-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: dimgray;
  transition: 300ms;
  white-space: nowrap;
  margin: 0 30px;
}

#nav .drink-link:hover {
  transform: scale(1.075);
  transition: 300ms;
}

#nav .drink-link:active {
  transform: scale(0.9);
  transform: 50ms;
}

@media all and (max-width: 1280px) {
  #nav .drink-link {
    margin: 0 20px;
  }
}

@media all and (max-width: 1120px) {
  #nav .drink-link {
    font-size: 14px;
  }
}


@media all and (max-width: 1000px) {
  #nav img {
    display: none;
  }
}

@media all and (max-width: 400px) {
  #nav .drink-link {
    margin: 0 10px;
  }
}

@media all and (max-width: 340px) {
  #nav .drink-link {
    margin: 0 6px;
  }
}
