 #nav {
    margin: 4px 0 0 0;
}

#nav .navbar {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 100%;
}

#nav .drink-links {
    width: 100%;
    display: flex;
    align-items: center;
}

#nav img {
    max-width: 40px;
    margin: 0 10px;
}

#nav .drink-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: dimgray;
    transition: 300ms;
    white-space: nowrap;
    margin: 0 20px;
}

#nav .drink-link:hover {
    transform: scale(1.075);
    transition: 300ms;
}

#nav .drink-link:active {
    transform: scale(.9);
    transform: 50ms;
} 

/* swiper */
.swiper-slide{
    margin: 0 100px 0 0;
}
