/* ---------- TITLE BAR ---------- */
#title-bar {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px 0;
  border-bottom: 2px solid lightgray;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  box-shadow: 0 0 4px lightgray;
}

/* ---------- STORE NAME ---------- */

.store-name-wrapper {
  display: flex;
  flex: start;
}

.store-name {
  font-size: 30px;
  color: dimgray;
  margin: 0 0 0 40px;
}

/* ---------- NAV ---------- */
.nav-wrapper {
  display: flex;
  justify-content: center;
}

/* ---------- SEARCH ---------- */
.search-bar-wrapper {
  display: flex;
  justify-content: flex-end;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 30px 0 80px;
}

.search-bar {
  height: 40px;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 50px;
  padding-left: 40px;
  font-size: 18px;
  color: gray;
  outline: none;
}

.search-bar:hover {
  border: 2px solid skyblue;
  outline: none;
}
.search-bar:focus + .fa-magnifying-glass {
  color: rgb(101, 183, 216);
}

.fa-magnifying-glass {
  position: absolute;
  left: 14px;
  color: gray;
}


