* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll-stop {
  overflow: hidden;
}

#app .container {
  width: 100%;
  display: flex;
}
