/* ---------- DRINK MODAL ----------  */
#drink-modal {
  position: relative;
  z-index: 2;
}

#drink-modal .underlay {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#drink-modal .container {
  position: fixed;
  max-width: 800px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  box-shadow: 0 0 2px gray;
  z-index: 1;
}

#drink-modal .container:hover {
  box-shadow: 0 0 2px gray;
  border: none;
}

/* ---------- REQUIRED MODAL ----------  */

#required-underlay {
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

#required-underlay2 {
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

#required-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid gray;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  display: none;
  z-index: 3;
}

#required-modal.active{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

#required-underlay.active{
  display: block;
}

#required-underlay2.active{
  display: block;
}

.please {
  font-weight: normal;
}

#required-modal .sugar-ice {
  display: flex;
}

#required-modal .sugar-ice h4 {
  font-weight: normal;
  margin: 0 10px;
}

#required-modal button {
  margin: 20px 20px 0;
  width: 100px;
  height: 50px;
  background: linear-gradient(45deg, rgb(1, 136, 255), rgb(47, 195, 255));
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#required-modal button:hover {
  transform: scale(1.025);
  transition: 200ms;
}

#required-modal button:active {
  transform: scale(1);
  transition: 50ms;
}

/* ---------- CLOSE BUTTON ----------  */
#drink-modal .close-button {
  position: absolute;
  border: none;
  background-color: lightgray;
  padding: 8px 14px;
  top: 10px;
  right: 30px;
  cursor: pointer;
  border-radius: 8px;
}

#drink-modal .close-button:hover {
  transform: scale(1.1);
  transition: 100ms;
}

#drink-modal .fa-xmark {
  font-size: 20px;
}

#drink-modal .modal-border {
  background-color: lightgray;
  width: 1px;
  height: 100%;
}

/* ---------- CONTENT ----------  */
#drink-modal .content-container {
  display: flex;
}

#drink-modal .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin: 20px 0 20px 20px;
}

#drink-modal .content img {
  width: 86%;
  margin: 20px auto;
}

#drink-modal .name {
  color: dimgray;
  font-size: 20px;
}

#drink-modal .name,
#drink-modal .info,
#drink-modal .price {
  margin: 10px;
}

#drink-modal .price {
  color: dimgray;
  font-size: 20px;
}

/* ---------- CUSTOMIZATION ----------  */

#drink-modal .customizations-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

#drink-modal .customizations {
  margin: 0 0 0 20px;
  overflow: auto;
}

#drink-modal .custom-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#drink-modal .custom-title {
  display: flex;
  color: dimgray;
  margin: 20px 10px 10px 10px;
  font-size: 18px;
}

#drink-modal .custom-title h4{
  color: gray;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: normal;
}

#drink-modal .custom-container .options {
  display: flex;
  flex-direction: column;
  flex: start;
}

#drink-modal .custom-container .checkbox {
  margin: 6px 10px;
  width: 16px;
  height: 16px;
}

#drink-modal .custom-container label {
  display: flex;
  align-items: center;
  margin: 0 40px 0 10px;
}

#drink-modal .custom-container label:hover {
  background-color: rgba(222, 222, 222, 0.5);
}

#drink-modal .topping-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#drink-modal .topping-label {
  width: 100%;
}

#drink-modal .topping-price {
  position: absolute;
  right: 60px;
}

#drink-modal .request {
  margin: 0 10px 10px;
  max-width: 310px;
  height: 100px;
  resize: none;
  padding: 10px;
  outline: none;
  color: dimgray;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px gray;
}

/* ---------- ADD TO CART ----------  */

#drink-modal .add-to-cart-border {
  height: 1px;
  background-color: lightgray;
}

#drink-modal .add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drink-modal .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

#drink-modal #amount {
  border: none;
  height: 50px;
  width: 50px;
  font-size: 16px;
  text-align: center;
  color: dimgray;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
}

#drink-modal #amount::-webkit-inner-spin-button,
#drink-modal #amount::-webkit-outer-spin-button {
  display: none;
}

#drink-modal .minus,
#drink-modal .add {
  border: none;
  font-size: 50px;
  /* color: white;
  background: linear-gradient(45deg, rgb(1, 136, 255), rgb(47, 195, 255)); */
  color: rgb(1, 136, 255);
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

#drink-modal .minus {
  margin: 0 0 8px 0;
}

#drink-modal .minus:hover,
#drink-modal .add:hover {
  transform: scale(1.05);
  transition: 300ms;
}

#drink-modal .minus:active,
#drink-modal .add:active {
  transform: scale(0.95);
  transition: 0ms;
}

#drink-modal .add-to-cart-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#drink-modal .add-to-cart-button {
  margin: 14px 14px 14px 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, rgb(1, 136, 255), rgb(47, 195, 255));
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#drink-modal .add-to-cart-button:hover {
  transform: scale(1.025);
  transition: 200ms;
}

#drink-modal .add-to-cart-button:active {
  transform: scale(1);
  transition: 50ms;
}

/* ---------- MEDIA QUERY ----------  */

@media all and (max-width: 480px) {

  #drink-modal .close-button {
    position: absolute;
    border: none;
    background-color: lightgray;
    padding: 8px 14px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 8px;
  }

  #drink-modal .container {
    height: 550px;
  }
  
  #drink-modal .content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  #drink-modal .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #drink-modal .content img {
    height: auto;
    font-size: 20px;
    width: 70%;
  }
  #drink-modal .content h3 {
    height: auto;
    font-size: 20px;
  }

  #drink-modal .content div {
    height: auto;
    font-size: 20px;
  }

  #drink-modal .customizations-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #drink-modal .request {
    margin: 0 10px 70px;
  }

  #drink-modal .add-to-cart-border {  
    display: none;
  }
  
  #drink-modal .add-to-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
  }
  
}


  